<html>
  <head>
    <title>Classes</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
  </head>
  <body>
    <p>Enter a, b, c seperated by spaces. Example: ax<sup>2</sup> + bx + c = <strong>a b c</strong></p>
    <input id="input" placeholder="a b c"></input>
    <button id="go" onclick="go()">Go!</button>
    <div id="results" >

    </div>

  </body>
</html>